<!--apparently all the fun stuff happens here (look at cats for guidance)
start with html Divs-->
{{#each burger}}
    <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
        <form>
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">Gotta Devour it!</button>
        </form>
    </li>
{{#unless this.devoured}}
{{/each}}

